[submodule "tmfcore_build_cli"]
	path = tmfcore_build_cli
	url = https://github.com/bassosimone/tmfcore_build_cli
[submodule "tmfcore_build_war"]
	path = tmfcore_build_war
	url = https://github.com/bassosimone/tmfcore_build_war
